<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos necesarios -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo2"
        android:supportsRtl="true"
        android:theme="@style/Theme.Panelcontrolasistenciaempleadosmovil"
        tools:targetApi="31">
        <activity
            android:name="com.example.panel_control_asistencia_empleados_movil.EditEmployeeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.panel_control_asistencia_empleados_movil.ConfigActivity"
            android:exported="false" />
        <activity
            android:name="com.example.panel_control_asistencia_empleados_movil.AddEmployeeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.panel_control_asistencia_empleados_movil.EmployeeListActivity"
            android:exported="false" />
        <activity
            android:name="com.example.panel_control_asistencia_empleados_movil.InicioActivity"
            android:exported="false" />
        <activity
            android:name="com.example.panel_control_asistencia_empleados_movil.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.example.panel_control_asistencia_empleados_movil.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.example.panel_control_asistencia_empleados_movil.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>